<nz-spin [nzSpinning]="_isSpinning" [nzTip]="'正在读取数据...'">
  <nz-card style="width:34%;margin-top: 12px" [nzLoading]="_isLoading">
    <ng-template #title>
      账号信息
    </ng-template>
    <ng-template #body>
      <div class="contena">
        <p *ngIf="dataList.mobile">
          <label>手机号  </label>
          <span class="left">{{dataList.mobile}}</span>
        </p>
        <p *ngIf="dataList.email">
          <label>邮箱  </label>
          <span class="left">{{dataList.email}}</span>
        </p>
        <p>
          <label>密码  </label>
          <nz-input [nzDisabled]="true" style="width: 140px;float: left" [(ngModel)]="dataList.password" [nzType]="_string" ></nz-input>
          <nz-switch style="float: left;margin-left: 10px;margin-top: -1px" [(ngModel)]="_sdk" (ngModelChange)="changeType()"></nz-switch>
        </p>
        <div [ngClass]="{'show':_isdisable==false,'hide': _isdisable==true}">
          <p>
            <label>{{bindname}}  </label>
            <nz-input style="width: 190px;float: left" [(ngModel)]="new" [nzType]="'text'" [nzPlaceHolder]="'请输入'+bindname"></nz-input>
          </p>
          <p>
            <label>获取验证码  </label>
            <nz-input style="width: 90px;float: left"  [(ngModel)]="surenew" [nzType]="'text'" [nzPlaceHolder]="'请输入验证码'">
            </nz-input>
            <button style="width: 90px;float: left;margin-left: 10px" nz-button [nzType]="'primary'" (click)="loadOne()" [nzLoading]="isLoadingOne">
              <span>{{time}}</span>
            </button>

          </p>
        </div>
        <button *ngIf="text!=''" nz-button (click)="toChange()" [nzType]="style" style="width: 193px;display: block;margin: 8px auto 8px 60px">
          <span>{{text}}</span>
        </button>




      </div>

    </ng-template>
  </nz-card>

</nz-spin>
