<body>
<div class="showTop">
  <div class="mainBox">
    <img [src]="picurl+'jibai.png'" style="margin-top: 18px;">
    <a routerLink="/public" class="return">返回首页</a>
  </div>
</div>
<div class="worshipBg">
  <div class="mainBox">
    <div class="worbox">
      <img class="animated zoomIn" id="obj" [src]="picurl+'ji2.png'">
      <code class="zhu animated fadeInLeft"><img class="la" [src]="picurl+'1.gif'"></code>
      <a target="_blank" href="http://www.cngongji.cn" class="more"></a>
    </div>
  </div>
</div>
<div class="worbot">
  <div class="mainBox">
    <ul class="clearfix">
      <li>
        <a routerLink="/archives"  >数字档案馆</a>
      </li>
      <li>
        <a routerLink="/library"  >数字图书馆</a>
      </li>
      <li>
        <a routerLink="/propaganda"  >数字宣教馆</a>
      </li>
    </ul>
    <p class="number">您是第<b>853</b>位访问该平台的网友</p>
  </div>
</div>
</body>

