.custom-card p{
  font-size: 14px;
  padding: 6px 0px;
}
.custom-card p:last-child{
  color: rgba(0,0,0,0.4);
  padding: 6px 0px;
}
.left{
  float: left;
}
.right{
  float: right;
}
.section{
  overflow: hidden;
  clear: both;
}
.badage,.badages{
  padding-top: 8px;
  width: 100%;
  border-top: #ededed solid 1px ;
  margin-top: 8px;
}
.badage span{
  float: left;
  text-align: center;
  width: 33.3%;
  border-right: #ededed solid 1px ;
  box-sizing: border-box;
}
.badage span:last-child{
  float: left;
  width: 33.3%;
  border-right: none ;
}
.badages span{
  float: left;
  text-align: center;
  width: 50%;
  border-right: #ededed solid 1px ;
  box-sizing: border-box;
}
.badages span:last-child{
  border-right: none ;
}
.imgcontain{
  border: #f0f0f0 solid 1px;
  border-radius: 6px;
  height: 170px;
  width: 310px;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.mit p{
  margin-bottom: 8px;
}

.table-operations {
  margin-bottom: 16px;
}

.table-operations > button {
  margin-right: 8px;
}
.oneline{
  max-width:160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block
}
.contena p label{
  width: 60px;
  padding-right: 10px;
  float: left;
  line-height:28px;
  text-align: right;
}
.contena p{
  overflow: hidden;
  padding: 8px 0px;
  line-height:28px;
}
.show{
  height: 88px;
  overflow: hidden;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}
.hide{
  height: 0px;
  overflow: hidden;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}
