@charset "utf-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

* {
  font-family: "微软雅黑" !important;
  font-family:"Microsoft YaHei" !important
}

a{
  cursor: pointer;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
li:focus{
  outline: none;
}

/*-----------------*/
body{
  height: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
p {
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
  font-size: 100%;
}

.new_photo {
  z-index: 10 !important;
}

img {
  margin: 0;
  padding: 0
}

header{
  z-index: 9999;}
/*-----------------*/

input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}


/*-----------------*/

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}


/*-----------------*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*-----------------*/

fieldset,
img {
  border: 0;
}


/*-----------------*/

caption,
th {
  text-align: left;
}


/*-----------------*/

q:before,
q:after {
  content: '';
}


/*-----------------*/
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #909090; opacity:1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #909090;opacity:1;
}

input:-ms-input-placeholder{
  color: #909090;opacity:1;
}

input::-webkit-input-placeholder{
  color: #909090;opacity:1;
}

a {
  text-decoration: none;
  color: #FFF;
}

a:hover {
  text-decoration: none;
}



html {
  min-height: 100%;
}

button,input{
  outline: none;
}

.lt,.lts{
  float: left;
}
.rt,.rts{
  float: right;
}
.mainBox{
  width: 1100px;
  margin: 0 auto;
}




.uploadImg{
  float: left;
}
.uploadImg>div{
  padding: 0 !important;
  margin-right: 10px;
}

.ant-carousel .slick-dots li button,.ant-carousel .slick-dots li.slick-active button{
  background: #80572d !important;
  height: 4px !important;
}
/*.ant-carousel .slick-dots{
  bottom: 0 !important;
}*/
.fileCen .ant-tabs-bar{
  margin-bottom: 40px !important;
  border-bottom: 0 !important;
}
.fileCen .ant-tabs-tab{
  width: 145px;
  height: 207px !important;
  background: #f2f2f2 !important;
  float: left !important;
  margin-right: 14px !important;
  border: 2px solid #838383 !important;
  position: relative !important;
}

.fileCen .ant-tabs-tab a {
  display: block;
  margin-top: 4px;
  height: 198px;
}

.fileCen .ant-tabs-tab span {
  width: 60px;
  height: 180px;
  display: block;
  margin: 0 auto;
  background: url(assets/images/8.png) no-repeat;
}
.fileCen .ant-tabs-nav-container .ant-tabs-nav-wrap .ant-tabs-nav-scroll{
  height:217px;
}
.fileCen .ant-tabs-tab code {
  background: url(assets/images/10.png) no-repeat;
  width: 23px;
  height: 23px;
  position: absolute;
  bottom: -11px;
  left: 60px;
  z-index: 99;
}

.showCen .listBox .ant-tabs-nav .ant-tabs-tab{
  width: 188px !important;
  height: 37px !important;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.showCen .ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab-active,.showCen .ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab:hover{
  color: #84312d;
}

.fileCen .ant-tabs-nav .ant-tabs-tab:last-child {
  margin-right: 0 !important;
}
.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(2) span {
  background-position: 13px 8px;
}
.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(3) span {
  background-position: -86px 0;
}
.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(4) span {
  background-position: -191px 0;
}
.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(5) span {
  background-position: -281px 0;
}
.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(6) span {
  background-position: -379px 0;
}
.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(7) span {
  background-position: -481px 0;
}
.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(8) span {
  background-position: -582px 0;
}
.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(2).ant-tabs-tab-active span,
.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(2):hover span {
  background-position: 13px -207px;
}
.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(3).ant-tabs-tab-active span,
.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(3):hover span {
  background-position: -86px -215px;
}

.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(4).ant-tabs-tab-active span,
.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(4):hover span {
  background-position: -191px -215px;
}

.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(5).ant-tabs-tab-active span,
.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(5):hover span {
  background-position: -281px -215px;
}

.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(6).ant-tabs-tab-active span,
.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(6):hover span {
  background-position: -379px -215px;
}

.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(7).ant-tabs-tab-active span,
.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(7):hover span{
  background-position: -481px -215px;
}
.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(8).ant-tabs-tab-active span,
.fileCen .ant-tabs-nav .ant-tabs-tab:nth-child(8):hover span{
  background-position: -582px -215px;
}

.fileCen .ant-tabs-nav .ant-tabs-tab-active code,
.fileCen .ant-tabs-nav .ant-tabs-tab:hover code {
  background: url(assets/images/9.png) no-repeat;
}
.fileCen .ant-tabs-nav .ant-tabs-tab:hover,
.fileCen .ant-tabs-nav .ant-tabs-tab-active{
  border: 2px solid #6a1b1b !important;
}
.ant-collapse{
  margin-top: 10px;
}
.ant-collapse-header{
  font-size: 16px;
}
.ant-collapse-content-box{
  padding: 0 !important;
}
.special .ant-collapse-content-box p{
  font-size: 14px;
  display: block;
  height:44px;
  margin: 10px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  -moz--line-clamp:2;
  -ms--line-clamp:2;
  -o--line-clamp:2;
  line-clamp:2;
  overflow: hidden;
}
.ant-collapse-content-box a.more{
  margin: 10px;
  float: right;
  font-size: 12px;
  color: #5a5a5a;
  border: 1px solid #5a5a5a;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 2px 6px;
}
.ant-collapse-content-box a.more:hover {
  background: #484a8d;
  color: #fff;
}

:host ::ng-deep .ant-carousel .slick-slide {
  height: 318px;
  overflow: hidden;
}
:root .ant-menu-submenu-inline > .ant-menu-submenu-title:after,.ant-menu-item-selected，.ant-menu-inline .ant-menu-item{
  color: #c39360;
}

.ant-menu li .ant-menu-submenu-title span{
  color: #c39360;
  font-size: 14px;
}
.anticon-home:before{
  font-size: 17px;
}

.tabletxt tr td .ant-input-wrapper .ant-input{
  height: 33px !important;
}

.tabletxt .ant-select-selection--single{
  height: 33px !important;
  margin-bottom: 15px;
}
.tabletxt .ant-select-selection__rendered{
  line-height: 33px !important;
}
.tabletxt .ant-calendar-picker span input.ant-calendar-picker-input{
  height: 33px;
}


.ant-cascader-picker{
  display: inline-block !important;
}
.editBox .ng-untouched .ql-container{
  height: 430px;
}
form .has-feedback > .ant-select .ant-select-selection-selected-value, form .has-feedback :not(.ant-input-group-addon) > .ant-select .ant-select-selection-selected-value{
  padding-right: 63px !important;
}
.fsf .ant-modal-footer{
  display: none;
}
.ql-container{
  height: 87% !important;
}

.contents{
  padding: 10px !important;
}
.contents p img{
  width: 95%;
  height: auto;
  display: block;
  margin: 0 auto;
}

